header{
  text-align: center;
}

.image {
  display: block;
  margin:auto;
}

nav {
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: pink;
}
figcaption {
  text-align : center;
  font-size: 80%;
}
p{
  text-align: center;
}
#featured-property p{
  text-align: center;
  width: 800px;
  margin: auto;
}
#details{
  display: block;
}
#details div {
  float: left;
  text-align: center;
  width: 25%;
  
  background-color: red;
}
