header{
  text-align: center;
}

.image {
  display: block;
  margin:auto;
}

nav {
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: pink;
}
figcaption {
  text-align : center;
  font-size: 80%;
}
p{
  text-align: center;
}
#featured-property p{
  text-align: center;
  /*display: block;*/
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#details
{
  display: block;
}

#details div {
  text-align: center;
  width: 25%;
  float: left;
<<<<<<< HEAD
  background-color: red;
=======
>>>>>>> ca3dc209e08999c7bd6ccdfdbd78823dd55bca2b
}
